body
  margin 0
  padding 0
  height 100vh
  display flex
  justify-content center
  align-items center
  background-image url("../img/background.png")

@font-face
  font-family: 'guirao';
  src: url('../fonts/guirao.eot');
  src: url('../fonts/guirao.eot?#iefix') format('embedded-opentype'),
       url('../fonts/guirao.woff') format('woff'),
       url('../fonts/guirao.ttf') format('truetype'),
       url('../fonts/guirao.svg#guirao') format('svg');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'icons';
  src: url('../fonts/icons.eot?28788762');
  src: url('../fonts/icons.eot?28788762#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff2?28788762') format('woff2'),
       url('../fonts/icons.woff?28788762') format('woff'),
       url('../fonts/icons.ttf?28788762') format('truetype'),
       url('../fonts/icons.svg?28788762#fontello') format('svg');
  font-weight: normal;
  font-style: normal;

#container
  perspective 1000px

#container.reversed #card
  transform rotateX(180deg) scale(1.2)
  box-shadow 6px -16px 18px rgba(0, 0, 0, 0.6)
  border-top 2px solid rgba(0, 0, 0, 0.4)
  border-bottom 2px solid rgba(256, 256, 256, 0.8)

#card
  box-shadow 4px 8px 12px rgba(0, 0, 0, 0.6)
  border-top 2px solid rgba(256, 256, 256, 0.8)
  border-left 1px solid rgba(256, 256, 256, 0.8)
  border-right 1px solid rgba(0, 0, 0, 0.4)
  border-bottom 2px solid rgba(0, 0, 0, 0.4)
  border-radius 4px
  font-family "guirao", sans-serif
  transition: all 1s ease-in-out
  transform-style preserve-3d
  background-image  url("../img/paper.png")

  h1, p
    opacity 0.8

#card, #front, #back
  width 315px
  height 180px

#front, #back
  top 0
  left 0
  position absolute

#front
  z-index 2
  cursor pointer
  text-align  center
  transform rotateX(0deg)
  backface-visibility hidden

#back
  margin auto
  transform rotateX(180deg)

  a
    position absolute

#vcard
  height 120px
  width 120px

i
  font-family "icons"
  font-style normal
  font-weight normal
  font-size 48px
  color black
  opacity 0.8
  speak never
  display inline-block
