doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Contact')
    meta(name='author' content='Guillermo Guirao Aguilar')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    title Guirao
    link(rel='stylesheet' href='css/main.styl')
    script(rel='text/javascript' src='js/main.js')
    script

  body
    #container
      #card
        #front(onclick='flip()')
          h1 Guillermo Guirao
          p +49 178 5378256
          p guillermo@guirao.net
        #back
          img#vcard(src='img/vcard.svg')
