doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Contact')
    meta(name='author' content='Guillermo Guirao Aguilar')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    title Guirao
    link(rel='stylesheet' href='css/main.styl')
    script(rel='text/javascript' src='js/main.js')
    script

  // TODO: tooltips
  body
    #container
      #card
        #front(onclick='flip()')
          h1 Guillermo Guirao
          p +49 178 5378256
          p guillermo@guirao.net
        #back
          a(href='mailto:guillermo@guirao.com' style='top: 20px; left: 20px')
            i.icon-email &#x2709;
          a(href='/assets/guirao.pgp' style='bottom: 20px; left: 20px')
            i.icon-key &#x1f511;
          a(href='/assets/guirao.vcard' style='top: 30px; left: 98px')
            img#vcard(src='img/mecard.svg')
          a(href='https://wa.me/00491785378256' style='top: 20px; right: 20px')
            i.icon-whatsapp &#xf232;
          a(href='https://t.me/ggaguilar' style='bottom: 20px; right: 20px')
            i.icon-telegram &#xf2c6;
